HtmlDialogDemos/classes/*
HtmlDialogDemos/classes/META-INF
HtmlDialogDemos/classes/ch
HtmlDialogDemos/classes/htmlDialogDemos
HtmlDialogDemos/logs
HtmlDialogDemos/src_dataClasses/ch
HtmlDialogDemos/src_dataClasses/htmlDialogDemos
HtmlDialogDemos/target
HtmlWfUi/classes/*
HtmlWfUi/src_dataClasses/*
HtmlWfUi/target
IvyDemos/classes
IvyDemos/logs
IvyDemos/src_dataClasses/*
IvyDemos/target
JsfWorkflowUi/JsfWorkflowUi.test/classes
JsfWorkflowUi/JsfWorkflowUi.test/target
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/classes
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/src_dataClasses/*
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/src_wsproc/*
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/target
JsfWorkflowUi/JsfWorkflowUi/classes/*
JsfWorkflowUi/JsfWorkflowUi/src_dataClasses/*
JsfWorkflowUi/JsfWorkflowUi/target
JsfWorkflowUi/build
JsfWorkflowUi/target
QuickStartTutorial/classes/*
QuickStartTutorial/target
ServerConfiguration/*.log
ServerConfiguration/classes
ServerConfiguration/javac.classpath
ServerConfiguration/lib
ServerConfiguration/logs
ServerConfiguration/src_dataClasses
ServerConfiguration/target
WebTestsDemos/target
WorkflowUI/classes
WorkflowUI/classes/*
WorkflowUI/logs
WorkflowUI/src_dataClasses
WorkflowUI/src_dataClasses/*
WorkflowUI/src_dataClasses/ch
WorkflowUI/target
