ConnectivityDemos/ConnectivityDemos/classes
ConnectivityDemos/ConnectivityDemos/src_dataClasses/*
ConnectivityDemos/ConnectivityDemos/src_wsproc/*
ConnectivityDemos/ConnectivityDemos/target
ConnectivityDemos/ConnectivityDemosTest/classes
ConnectivityDemos/ConnectivityDemosTest/src_dataClasses/*
ConnectivityDemos/ConnectivityDemosTest/src_wsproc/*
ConnectivityDemos/ConnectivityDemosTest/target
ConnectivityDemos/deploy
ConnectivityDemos/target
ErrorHandlingDemos/classes
ErrorHandlingDemos/logs
ErrorHandlingDemos/src_dataClasses/*
ErrorHandlingDemos/target
HtmlDialogDemos/classes/*
HtmlDialogDemos/classes/META-INF
HtmlDialogDemos/classes/ch
HtmlDialogDemos/classes/htmlDialogDemos
HtmlDialogDemos/logs
HtmlDialogDemos/src_dataClasses/ch
HtmlDialogDemos/src_dataClasses/htmlDialogDemos
HtmlDialogDemos/target
HtmlWfUi/classes/*
HtmlWfUi/logs
HtmlWfUi/src_dataClasses/*
HtmlWfUi/target
JsfWorkflowUi/JsfWorkflowUi.test/classes
JsfWorkflowUi/JsfWorkflowUi.test/target
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/classes
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/deploy
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/logs
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/src_dataClasses/*
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/src_wsproc/*
JsfWorkflowUi/JsfWorkflowUi.test/testRecources/testWfUi/target
JsfWorkflowUi/JsfWorkflowUi/classes/*
JsfWorkflowUi/JsfWorkflowUi/logs
JsfWorkflowUi/JsfWorkflowUi/src_dataClasses/*
JsfWorkflowUi/JsfWorkflowUi/target
JsfWorkflowUi/build
JsfWorkflowUi/target
ProjectTestDemos/classes
ProjectTestDemos/logs
ProjectTestDemos/src_dataClasses/*
ProjectTestDemos/src_wsproc/*
ProjectTestDemos/target
QuickStartTutorial/classes/*
QuickStartTutorial/logs
QuickStartTutorial/target
RichDialogDemos/classes
RichDialogDemos/logs
RichDialogDemos/src_dataClasses/*
RichDialogDemos/target
SelfServiceBPM/.metadata
SelfServiceBPM/classes
SelfServiceBPM/logs
SelfServiceBPM/src_dataClasses/*
SelfServiceBPM/src_wsproc/*
SelfServiceBPM/target
ServerConfiguration/*.log
ServerConfiguration/classes
ServerConfiguration/javac.classpath
ServerConfiguration/lib
ServerConfiguration/logs
ServerConfiguration/src_dataClasses
ServerConfiguration/target
WebTestsDemos/target
WorkflowDemos/WorkflowDemos/classes
WorkflowDemos/WorkflowDemos/deploy
WorkflowDemos/WorkflowDemos/src_dataClasses/*
WorkflowDemos/WorkflowDemos/target
WorkflowDemos/WorkflowDemosTest/classes
WorkflowDemos/WorkflowDemosTest/deploy
WorkflowDemos/WorkflowDemosTest/src_dataClasses/*
WorkflowDemos/WorkflowDemosTest/target
WorkflowDemos/classes
WorkflowDemos/deploy
WorkflowDemos/logs
WorkflowDemos/target
WorkflowUI/classes
WorkflowUI/classes/*
WorkflowUI/logs
WorkflowUI/src_dataClasses
WorkflowUI/src_dataClasses/*
WorkflowUI/src_dataClasses/ch
WorkflowUI/target
academy/PracticeJSF.test/target
academy/PracticeJSF/classes
academy/PracticeJSF/src_dataClasses/*
academy/PracticeJSF/src_wsproc/*
build.maven/iar/ria/target
build.maven/iar/target
