
.stages-chain {
  position: relative;
  float: right;
  top: 20px;
  right: 20px;
  left: -10px;
  clear: both;
}

.stages-chain .process-step {
  width: 100px;
  height: 50px;
  display: inline-block;
  margin: 0px;
  text-align: center;
}

.stages-chain .process-step i{
  font-size: 16px;
}

.stages-chain .stage-icon {
  width: 30px;
  height: 30px;
  font-size: 28px;
}

.stages-chain .process-step[type="current"] i {
  color: #afca05;
}

.stages-chain .process-step[type="visited"] i {
  color: #555555;
}

.stages-chain .process-step[type="waiting"] i {
  color: #cccccc;
}

.stages-chain .process-flow {
  width: 60px;
  height: 50px;
  display: inline-block;
  margin-left: -25px;
  margin-right: -25px;
}

.stages-chain .process-flow .flow-txt{
  position: relative;
  margin-top: -10px !important;
  float: left;
  width: 100%;
  text-align: center;	
}

.stages-chain .process-flow .flow-txt hr[type="visible"] { 
    width: 100%;
    height: 2px; 
    margin: 0 auto;
    background: #cccccc;
}

.stages-chain .process-flow .flow-txt hr[type="none"] { 
    width: 2px;
    height: 2px; 
    margin: 0 auto;
    background: #cccccc;
}


.stages-chain .process-step[type="current"] .step-title {
  position: relative;
  margin-top: -18px !important;
  float: left;
  width: 100%;
  text-align: center;
}


.stages-chain .process-step[type="visited"] .step-title {
  position: relative;
  top: -18px;
  float: left;
  width: 100%;
  text-align: center;
}


.stages-chain .process-step[type="waiting"] .step-title {
  position: relative;
  top: -18px;
  float: left;
  width: 100%;
  text-align: center;
}

  
 
