@CHARSET "ISO-8859-1";

.detailsList, .detailsList table
{
	border-collapse: collapse;
}

.detailsList > tbody > tr
{
	border-bottom: 1px solid lightgrey;
}

.detailsList th
{
	font-size: 90%;
	text-align: left;
	padding-right: 2pt;
}

.alignTop {
    vertical-align: top;
}

.selectRadio label {
   margin-right: 20px;
}
