.task-state-created {
	color: green;
}

.task-state-delayed {
	color: orange;
}

.task-state-destroyed {
	color: red;
}

.task-state-done {
	color: green;
}

.task-state-failed {
	color: red;
}

.task-state-joining {
	color: blue;
}

.task-state-join-failed {
	color: red;
}

.task-state-parked {
	color: blue;
}

.task-state-ready-for-join {
	color: orange;
}

.task-state-resumed {
	color: blue;
}

.task-state-suspended {
	color: blue;
}

.task-state-unassigned {
	color: orange;
}

.task-state-waiting-for-intermediate-event {
	color: orange;
}

.task-state-zombie {
}

.priority-exception {
	color: red;
}

.priority-high {
	color: red;
}

.priority-low{
	color: blue;
}

.priority-normal{
	color: green;
}

.task-state-created{
	color: green;
}

.task-state-destroyed{
	color: red;
}

.task-state-done{
	color: green;
}

.task-state-running{
}

.task-state-zombie{
}

.case-state-created{
	color: green;
}

.case-state-destroyed{
	color: red;
}

.case-state-done{
	color: green;
}

.case-state-running{
}

.case-state-zombie{
}

.logged-in-user{
	color: #61FF00;
}