@CHARSET "ISO-8859-1";
div#layoutHeader
{
	background-color: #575656;
}

div#PageCaption
{
	background-color: #dfdfdf;
}

body
{
  font-family: Corbel, "Segoe UI", Arial, sans-serif;
  font-size: small;
  margin: 0;
}

h3
{
	margin: 0;
}