@CHARSET "ISO-8859-1";
body, html, td, tr, th, input, textarea, select, form
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

#layoutHeader
{
	background-image:url(#{resource['ivy-cms:Project/XpertIvyHeaderBackground']});
	background-repeat:repeat-x;
	color:#FFFFFF;
}

#layoutHeader a
{
	color:#FFFFFF;
}

#layoutHeaderLoggedInAs
{
	font-weight:bold;
	position: absolute;
	bottom: 34px;
	right: 10px;
}

#layoutFooter, #layoutFooter a
{
	color:#808080;
}