#mainArea .ui-datatable {
  border: none;
}

#mainArea .ui-datatable-tablewrapper {
  margin: 5px 0;
}

#mainArea .ui-datatable thead th, .ui-datatable tfoot td {
  text-align: left;
}

#mainArea .ui-toolbar {
  padding: 0 !important;
  border: none;
}

#mainArea .ui-datatable table td, 
#mainArea .ui-datatable table th {
  padding: 5px !important;
  border-right: none;
  border-left: none;
}

#mainArea .ui-datatable table thead tr .ui-state-active .ui-icon-triangle-1-s,
#mainArea .ui-datatable table thead tr .ui-state-active .ui-icon-triangle-1-n,
#mainArea .ui-datatable table thead tr .ui-state-default .ui-icon-carat-2-n-s {
  margin-left: 2px;
}

.ui-datatable .date-column {
  width: 120px;
}

.ui-datatable .icon-column {
  width: 20px;
  text-align: center;
}

.detailsList, .detailsList table
{
	border-collapse: collapse;
}

.detailsList > tbody > tr
{
	border-bottom: 1px solid lightgrey;
}

.detailsList th
{
	text-align: left;
	padding: 3pt 15pt 3pt 5pt;
}

.alignTop {
    vertical-align: top;
}

.selectRadio label {
   margin-right: 20px;
}

.iconDesciption, .iconDesciption table, .iconDesciption > tbody > tr > td
{
	border: 0;
}

.iconDesciption th
{
	padding-right: 2pt;
	padding-top: 3pt;
	width: 7px;
}

.searchFilter {
  margin-top:1px;
  margin-bottom:1px;
  width:100px;
}

html, body {
	height: 100%;
}

#mainArea {
	height: calc(100% - 133px);
}