.navbar-top {
	border-bottom: #eeeeee solid 1px;
}

.hd-demo-nav {
	padding-top:10px;
}

.hd-demo-nav .ui-menu {
	width: 100% !important;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.hd-demo-nav .ui-menu .ui-widget-header {
	background-color: transparent;
	color: #656565;
	margin-top: 10px !important;
	border: 0px none !important;
	width: 100% !important;
	padding: 0;
}

.hd-demo-nav .ui-menu .ui-widget-header > h3 {
	font-weight: bold;
	padding-left: 2px !important;
}

.hd-demo-nav .ui-menu .ui-menuitem {
	margin: 0 !important;
}

.hd-demo-nav .ui-menu .ui-menuitem-link {
	padding: 1px;
	border-width: 0 !important;
	font-size: 14px;
}

.hd-demo-nav .ui-menu .ui-widget a {
    white-space: normal;
}

label {
	font-weight: normal;
}

.navbar-header {
	float: left;
}

.themeswitcher {
	padding-top: 5px;
}

