/* WARNING! */
/* This customization style works only with version 9.1.0 and higher */
:root {
  /* PrimeFaces Colors: */
  /* Primary */
  --primary-color-h: 195;
  --primary-color-s: 100%;
  --primary-color-l: 29%;
  --primary-color: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-l)
  );
  --primary-dark-color: hsl(195, 100%, 20%);
  --primary-light-color-h: 180;
  --primary-light-color-s: 1%;
  --primary-light-color-l: 61%;
  --primary-light-color: hsl(
    var(--primary-light-color-h),
    var(--primary-light-color-s),
    var(--primary-light-color-l)
  );
  --primary-lightest-color: hsl(180, 5%, 96%);
  --primary-text-color: hsl(0, 0%, 100%);
  /* Accent */
  --accent-color-h: 0;
  --accent-color-s: 1%;
  --accent-color-l: 34%;
  --accent-color: hsl(
    var(--accent-color-h),
    var(--accent-color-s),
    var(--accent-color-l)
  );
  --accent-light-color: hsl(180, 1%, 61%);
  --accent-text-color: hsl(0, 0%, 100%);
  /* Buttons */
  --button-bg-color-h: 195;
  --button-bg-color-s: 100%;
  --button-bg-color-l: 29%;
  --button-bg-color: hsl(
    var(--button-bg-color-h),
    var(--button-bg-color-s),
    var(--button-bg-color-l)
  );
  --button-text-color: hsl(0, 0%, 100%);
  --button-secondary-bg-color-h: 180;
  --button-secondary-bg-color-s: 1%;
  --button-secondary-bg-color-l: 61%;
  --button-secondary-bg-color: hsl(
    var(--button-secondary-bg-color-h),
    var(--button-secondary-bg-color-s),
    var(--button-secondary-bg-color-l)
  );
  --button-secondary-text-color: hsl(0, 0%, 100%);
  --button-red-bg-color-h: 0;
  --button-red-bg-color-s: 63%;
  --button-red-bg-color-l: 52%;
  --button-red-bg-color: hsl(
    var(--button-red-bg-color-h),
    var(--button-red-bg-color-s),
    var(--button-red-bg-color-l)
  );
  --button-amber-bg-color-h: 46;
  --button-amber-bg-color-s: 100%;
  --button-amber-bg-color-l: 58%;
  --button-amber-bg-color: hsl(
    var(--button-amber-bg-color-h),
    var(--button-amber-bg-color-s),
    var(--button-amber-bg-color-l)
  );
  /* Widget */
  --widget-header-bg-color: hsl(180, 1%, 85%);
  --widget-header-bg-light-color: hsl(180, 5%, 96%);
  --widget-header-paginator-bg-color: hsl(180, 1%, 61%);
  --widget-header-text-color: hsl(0, 1%, 25%);
  --widget-header-text-bg-color: hsl(180, 1%, 61%);
  /* Messages */
  --message-text-color: hsl(0, 0%, 100%);
  --message-info-bg-color: hsl(195, 100%, 29%);
  --message-warn-bg-color: hsl(46, 100%, 58%);
  --message-warn-text-color: hsl(0, 1%, 34%);
  --message-error-bg-color: hsl(0, 63%, 52%);
  /* Serenity Navigation Colors: */
  /* Sidebar */
  --sidebar-logo-bg-color: hsl(195, 100%, 29%);
  --sidebar-app-text-color: hsl(0, 0%, 100%);
  --sidebar-bg-color: hsl(195, 100%, 29%);
  /* Topbar */
  --topbar-bg-color: hsl(195, 100%, 29%);
  --topbar-text-color-h: 180;
  --topbar-text-color-s: 5%;
  --topbar-text-color-l: 96%;
  --topbar-text-color: hsl(
    var(--topbar-text-color-h),
    var(--topbar-text-color-s),
    var(--topbar-text-color-l)
  );
  --topbar-icon-color: hsl(180, 5%, 96%);
  /* Submenu */
  --submenu-bg-color: hsla(0, 0%, 100%, 0.2);
  --horizontal-submenu-bg-color: hsl(195, 100%, 29%);
  --horizontal-submenuitem-hover-bg-color: hsl(195, 100%, 20%);
  --horizontal-menu-active-text-color: hsl(0, 0%, 100%);
  --horizontal-menu-active-hover-text-color: hsl(0, 0%, 100%);
  /* Default MenuItem */
  --menuitem-text-color: hsl(0, 0%, 100%);
  --menuitem-icon-text-color: hsl(0, 0%, 100%);
  /* Hover MenuItem */
  --menuitem-hover-bg-color: hsla(0, 0%, 0%, 0.4);
  --menuitem-hover-text-color: hsl(0, 0%, 100%);
  --menuitem-hover-icon-text-color: hsl(0, 0%, 100%);
  /* Active MenuItem */
  --menuitem-active-bg-color: hsl(64, 70%, 49%);
  --menuitem-active-text-color: hsl(0, 0%, 100%);
  --menuitem-active-icon-text-color: hsl(0, 0%, 100%);
  --sub-menuitem-active-text-color: hsl(65, 78%, 54%);
  --sub-menuitem-active-icon-text-color: hsl(65, 78%, 54%);
}
