.si, .fa, .material-icons {
  font-size: 24px;
}
.ui-button.ui-button-text-icon-left {
  width: 100px;
}

#search {
  margin: 2rem 0 1rem 0;
}

.p-grid {
  gap: 1em;
}
.icon-usage-block {
  background-color: hsl(0, 0%, 50%, 0.2);
  border-radius: 5px;
  min-width: 300px;
}
.icon-usage-block i {
  font-size: 24px;
}
.icon-block{
  text-align: center;
  border-radius: 5px;
  border: 1px solid;
}
.icon-block p {
  width: 10rem;
  margin: 1em auto 0 auto;
}
.icon-block .si {
  font-size: 2em;
}
