/* 
Classes overriding primefaces' css
*/
.ui-fileupload-buttonbar {
	padding-left: 0;
}

.ui-fileupload-content {
	display: none;
}

.ui-growl-item-container {
	opacity: 0.95 !important;
	filter: alpha(opacity = 95) !important;
}

.ui-growl-icon-close {
	top: 7px;
	right: 7px;
}

.ui-growl-item {
	padding: 15px 15px !important;
}

.ui-growl-title {
	padding: 0;
}

.ui-growl-message {
	width: 230px;
	padding: 0;
}

label {
	margin-bottom: 0;
}

.ui-datatable-tablewrapper {
	margin-left: 0;
	margin-right: 0;
}

.ui-datatable {
	border: none;
}

.ui-datatable thead th, .ui-datatable tfoot td {
	text-align: left;
}

.ui-accordion-content .ui-datatable table td, .ui-accordion-content .ui-datatable table th
	{
	border-right: none;
	border-left: none;
}

.ui-accordion-header {
	padding: .8em .8em .8em 2.2em !important;
}

.ui-accordion {
	border: 0 !important;
}

/* 
Own Classes
*/
.no-border {
	border: none;
}

.licence-info-label {
	font-size: 80%;
}

.port-input {
	width: 70px;
}

.port-checkbox {
	margin-left: 5px;
	margin-top: 3px;
}

.full-width {
	width: 100%;
}

.webserver-checkbox {
	margin-left: 5px;
	margin-top: 3px;
}

.important-sysdb-input {
	width: 200px;
}

.connection-panel {
	margin-bottom: 20px;
	border-radius: 4px;
}

.connection-panel .alert {
	margin-bottom: 0;
}

.connection-state {
	padding-bottom: 20px;
}

.connection-state h4 {
	font-weight: bold;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.check-connection {
	position: relative;
	float: right;
	top: 10px;
	right: 10px;
}

.action-column {
	text-align: center;
}

.iconOnlyLink:hover {
	text-decoration: none;
}

.warning-text {
	color: #9F6000;
}

.next-button {
	float: right;
}

.help-button {
	float: right;
	margin-right: 15px;
}

.logged-in-user {
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}

button.ui-state-warn {
	font-weight: bold;
	background-color: #FFA500;
}

.save-and-exit-button {
	float: right;
}