/* 
Classes overriding primefaces' css
*/
.ui-fileupload-buttonbar {
	padding-left: 0;
}

/* 
Own Classes
*/
.no-border {
	border: none;
}

.licence-info-label {
	font-size: 80%;
}

.port-input {
	width: 70px;
}

.port-checkbox {
	margin-left: 5px;
	margin-top: 3px;
}

.full-width {
	width: 100%;
}

.webserver-checkbox {
	margin-left: 5px;
	margin-top: 3px;
}

.important-sysdb-input {
	width: 200px;
}

.connection-panel {
	margin-bottom: 20px;
	border-radius: 4px;
}

.connection-panel .alert {
	margin-bottom: 0;
}

.connection-state {
	padding-bottom: 20px;
}

.connection-state h4 {
	font-weight: bold;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

.check-connection {
	position: relative;
	float: right;
	top: 10px;
	right: 10px;
}

.action-column {
	text-align: center;
}

.iconOnlyLink:hover {
	text-decoration: none;
}