@font-face  {
	font-family: 'bpm';
	src: url("#{resource['layouts/fonts/bpmFont/bpm.eot");
	src: url("#{resource['layouts/fonts/bpmFont/bpm.eot']}&#iefix") format('embedded-opentype'),
		 url("#{resource['layouts/fonts/bpmFont/bpm.woff']}") format('woff'), 
		 url("#{resource['layouts/fonts/bpmFont/bpm.ttf']}") format('truetype'), 
		 url("#{resource['layouts/fonts/bpmFont/bpm.svg']}#bpm") format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*='bpm-']:before {
	display: inline-block;
	font-family: 'bpm';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bpm-signal_sent:before {
	content: "\0079";
}

.bpm-signal_receiver:before {
	content: "\0030";
}