@charset "UTF-8";

.dt-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.dt-table thead td {
  font-weight: bold;
}
.dt-table td {
  border: 1px solid;
}
.dt-table td:first-child {
  text-align: left;
  font-weight: bold;
}

.ui-selectoneradio td {
	padding: 0 1em 0 0;
}
