@CHARSET "UTF-8";
body, html, td, tr, th, input, textarea, select, form, div {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

#layoutHeader {
	height: 100px;
	background-color: #575656;
}

#layoutFooter p {
	margin: 0;
	padding: 0;
}

.circularImg {
    width: 50px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow:hidden; 
    //border: 2px solid;
    //border-color: #afca05;
    //padding:2px;
}

.circularImgHot {
    width: 50px; 
    height: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow:hidden; 
    border: 2px solid;
    border-color: rgb(237,0,0);
    padding:0px;
}

.flowpanelHot {
	background-color:#ffffff;
	border:1px solid;
	border-radius: 10px;
	border-color: rgb(237,0,0);
	height: 80px
}

.flowpanel {
	background-color:#ffffff;
	border:1px solid;
	border-radius: 10px;
	border-color: #afca05;
	height: 80px
}

.taskpanel {
	background-color:#ffffff;
	border:1px solid;
	border-color: #afca05;
}

.iconButton {
	background-color:#ffffff; 
	border:0px;
}

.flowpanelButton {
	background-color:#ffffff;
	border:0px;
}


